<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">Edit Upload the file</h1>
        <%= render "form",bid: @bid, upload_file: @upload_file %>
      </div>
    </div>
  </div>
</section>

