<div id="<%= dom_id profile %>">
  <p>
    <strong class="fs-2">Description:</strong>
    <br>
    <div class="mb-4">
    <%= profile.description%>
    </div>
  </p>

  <p>
    <strong class="fs-2">Is private:</strong>
    <div class="mb-4">
    <%= profile.is_private %>
    </div>
  </p>

</div>
