<div class="container mt-6">
  <h1 class="text-center mb-4 fw-bold fs-3">Profile</h1>
  <%= render "form", profile: @profile %>
  <br>
  <div>
    <%= link_to "Back to profiles", profiles_path %>
  </div>
</div>

