<div class="container px-4 py-5" id="featured-3">
    <h1 class="pb-2 name bottom-border"><%=link_to Current.user.name_or_company_name%>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        View Job Post
        </div>
        <div class="col">
        Invite freelancer
        </div>
        <div class="col">
        Review proposal
        </div>
    </div>
</div>

<div class="container">
</div>


