<div class="container">

<div class="card">
  <div class="card-header">
    User Registraion Successfull
  </div>
  <div class="card-body">
    <h5 class="card-title">Admin approval Waiting</h5>
    <p class="card-text">ADmin approval will be done within 2 hours. Log in with your credentials at appropriate time.</p>
  </div>
</div>

</div>