.button .is-primary{
    border-color: none;
    color:black;
  }
.rounded-circle{
  height: 30px!important;
  width: 30px
}
.job{
  margin-right: 1rem;
}
.name{
  font-size: 25px!important;
}
.bg-dark{
  background-color: rgb(24, 49, 49)!important;
}
.active{
 background-color: #ffeb3b!important;
 color: black!important;
}
.col{
  flex:1;
  padding:.5rem;
  background-color: #ffffff!important;
  text-align: center;
}
.bg-image{
  background-size: cover;
  background-position: center;
}
.color{
  color:#183131;
}
/*body{
  background-color: rgb(232, 233, 168)!important;
}*/
.fa-envelope{
  color: white;
}
.msg-form {
  position: absolute;
  width: 100%;
}

.col-md-10 {
  height: 80vh;
  overflow: scroll;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px;
}
.Text{
  color:blue;
}

.users{
  color:#183131;
}
