body {
  overflow: hidden;
}
.button .is-primary{
    border-color: none;
    color:black;
  }
.rounded-circle{
  height: 30px!important;
  width: 30px
}
.job{
  margin-right: 1rem;
}
.name{
  font-size: 25px!important;
}
.bg-dark{
  background-color: rgb(24, 49, 49)!important;
}
.active{
 background-color: #ffeb3b!important;
 color: black!important;
}
.col{
  padding:.5rem;
  background-color:rgb(211, 207, 207)!important;
  text-align: center;
}
.bg-image{
  background-size: cover;
  background-position: center;
}
.color{
  color:#183131;
}
/*body{
  background-color: rgb(232, 233, 168)!important;
}*/
.fa-envelope{
  color: white;
}
.Text{
  color:blue;
}

.users{
  color:#183131;
}
.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

#single_room {
  height: calc(90vh - 150px);
}

#messages {
  height: calc(95vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll;
}
#room_container {
  height: 90vh;
  margin-right: 0px !important;
  background-color: beige;
}
#side_panel {
  height: calc(95vh - 55px);
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 0px;
}
#chatroom_container {
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.msg-content {
  width: 100%;
  margin-right: 5px;
}
.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
}

.user_row {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #555555;
}

.username {
  overflow: hidden;
}

.chat_pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat_pfp1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user_list_item {
  height: 55px;
  color:#183131;
}
.room_list_item {
  height: 55px;
  background-color: #343a40 !important;
  color: #fff;
}

.name {
  margin-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.time {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.icon-container {
  width: 50px;
  height: 50px;
  position: relative;
}
.Active{
  background-color:rgb(181, 184, 187);
}
.bg{
  background-color:antiquewhite;
}
.rounded-circle1{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.box{
  border-radius: 40%;
}

.arrange{
  margin:auto;
  padding: 50px;
}
.option{
  margin:5px;
}
.card-group{
  align-items: center;
}
.card{
  margin: 10px;
  padding: 5px;
}
.select:not(.is-multiple):not(.is-loading)::after{
  display:none !important;
}

.btn{
  padding: 5px !important;
}
.image{
  height: 250px;
  padding: 30px;
}
.image img{
  width:50px;
  height: 20px;
  object-fit: cover;
}
.button{
  margin:1px!important;
}

select{
  padding: 5px !important;
  margin: 5px !important;
}

option{ 
  margin: 5px !important;
  background-color:rgb(218, 214, 214);
}
