<div class="container mt-6">
  <h1 class="my-4 fs-4">Editing category</h1>

  <%= render "form", category: @category %>
  <div class="my-6">
    <%= link_to "Show this category", @category %> |
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>
